@import "./variable.scss";

html{overflow-x:hidden; -webkit-text-size-adjust:none; font-size:20px;}
body{background-color:$cf2; color:$c5;vertical-align:top;font-family:"Microsoft YaHei","SimSun","SimHei",Arial,Tahoma,Helvetica;-webkit-text-size-adjust:none;@extend .boundary;@extend .inc_screen;}
h1,h2,h3,h4,h5,h6,div,span,p,table,th,tr,td,dl,dd,dt,ul,ol,li,pre,form,fieldset,input,textarea,blockquote{@extend .boundary;}
table,tr,th,td,button{border:0;}
ol,ul,li,dl,dd,dt{list-style:none; @extend .boundary;}
h1,h2,h3,h4,h5,h6 {line-height:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{@extend .show; @extend .boundary;}
img{vertical-align:top; border: 0;}
input,textarea{
    outline:none;
    background:none; border: 0 none; @extend .boundary;
    &::-webkit-input-placeholder { color:$c8; }
    &::-moz-placeholder { color:$c8; } /* firefox 19+ */
    &:-ms-input-placeholder { color:$c8; } /* ie */
    &:-moz-placeholder { color:$c8; }
}
blockquote:after,blockquote:before,q:after,q:before {content: "";content: none;}
.clear:after,.clear:before {content:"";clear:both;display:block;height:0;visibility:hidden;}
a{-webkit-text-size-adjust:none;-webkit-user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-font-smoothing:antialiased;text-decoration:none;&:link,&:visited,&:hover,&:active{color:$c5}&:focus{outline:0}}
.boundary{margin:0px;padding:0px;}