
// 默认的基本颜色
$baseColor: #3fadf5 !default;

// 默认的背景基本颜色
$cf : #fff;		//white
$cf2: #f2f2f2;	//light Gray
$eb : #ebebeb;	//Gray
$cfc: #fcfcfc;	//Shallow Gray
$cb : #bbb;		

$c5 : #555;		//Moderate Black
$c8 : #888;		//Dark Grey
$c0 : #000;		//black

$cf5: #f55;		//red
$cFly: #3fadf5;	//Flight Blue
